
  @import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');
*{
    font-family: "ropa sans";
}
body{
    background-color: rgb(100, 76, 80);
}

h1{
    text-align: center;
}
.row{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}
img{
    max-width: 400px;
    border-radius: 20px 20px 0px 0px;
}
.column{
    margin: 30px;
    width: 400px !important;   
    background-color: aliceblue;
    height: 500px;
    border-radius: 20px;
   
}
p{
    padding: 15px;
}
.footerrow{
    background-color: pink;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
}
.footer2{
    background-color: burlywood;
}
.footer3{
    background-color: blanchedalmond;
}
.column:hover{
    cursor: pointer;
    background-color: lavenderblush;
}
@media only screen and (max-width: 600px) {
    .row{
        display: flex;
        flex-direction: column;
    }
  }